.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  background-color: #f2f4f7;
  max-height: 68px;
  box-sizing: content-box;
}

.logo {
  display: block;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  transition: all 0.25s ease-out;
}

.item:hover,
.item:active {
  color: #0b44cd;
}
