.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form {
  max-width: 640px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #fff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
  margin-bottom: 24px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  transition: border-color 0.25s ease-out;
}

.date-wrapper {
  position: relative;
  width: 100%;
}

.calendar {
  border: 1px solid #3470ff;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.2s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.calendar :global(.react-datepicker__header) {
  background: #fff;
  border-bottom: none;
  padding: 12px;
}

.calendar :global(.react-datepicker__navigation) {
  top: 2.8%;
}

.calendar :global(.react-datepicker__navigation-icon::before) {
  border-width: 2px 2px 0 0;
  border-color: #3470ff;
}

.calendar :global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #101828;
  flex: 1;
}

.calendar :global(.react-datepicker__day-name) {
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #8d929a;
  width: 36px;
  height: 14px;
  margin: 0;
}

.calendar :global(.react-datepicker__day-names) {
  border-bottom: 1px solid #3470ff;
  padding-bottom: 12px;
  margin: 0;
}

.calendar :global(.react-datepicker__month) {
  padding: 12px;
  margin: 0;
  gap: 4px;
}

.calendar :global(.react-datepicker__week):not(:last-child) {
  margin-bottom: 4px;
}

.calendar :global(.react-datepicker__day) {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  width: 36px;
  height: 32px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.calendar :global(.react-datepicker__day):hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.calendar :global(.react-datepicker__day--today) {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.calendar :global(.react-datepicker__day--selected) {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: #3470ff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.calendar :global(.react-datepicker__day--outside-month) {
  color: #8d929a;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
}

.textarea {
  font-family: var(--font-manrope);
  resize: none;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  background-color: #f7f7f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  transition: border-color 0.25s ease-out;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input::placeholder,
.textarea::placeholder {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  outline: none;
  border: 1px solid #3470ff;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  background-color: #3470ff;
  margin: 40px auto 0;
  transition: all 0.25s ease-out;
  color: #fff;
}

.btn:hover,
.btn:active {
  background-color: #0b44cd;
}
