.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
  margin: 0 auto;
}

.list > * {
  animation: list 0.5s ease;
}

@keyframes list {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.list .noMatches {
  margin: 50px auto 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
}
