.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.noMatches {
  margin: 50px auto 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
}
