* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  margin: 0 auto;
}

body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #101828;
  height: 100dvh;
  box-sizing: content-box;
  scrollbar-gutter: stable;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 120px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  white-space: nowrap;
}

li {
  list-style-type: none;
}

.hovered {
  color: #0b44cd;
}
