.main {
  flex: 1;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../public/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 16px;
  text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
    1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  border: none;
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  background-color: #3470ff;
  margin-bottom: 60px;
  transition: all 0.25s ease-out;
}

.btn:hover,
.btn:active {
  background-color: #0b44cd;
}
