.catalog {
  padding: 84px 120px 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  background-color: transparent;
  margin-bottom: 60px;
  transition: all 0.25s ease-out;
  display: flex;
  justify-content: center;
}

.btn:hover,
.btn:active {
  border-color: #0b44cd;
}

.btn:disabled {
  display: none;
}
